{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="foo,bar" />
    <meta name="description" content="foo" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <script src="{% static '/vendor/htmx/htmx.min-2.0.4.js' %}"></script>
  </head>
  <body>
    <header>
      {% block navbar %}
        {% if user.is_authenticated %}
          <div>
            <a href="{% url 'logout' %}">Sign out</a>
          </div>
        {% endif %}
      {% endblock navbar %}
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
